doctype html
html(ng-app='fihApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.js')
    script(src='/javascripts/fih.js')
  body
    block content
